.about {
  padding: 80px 20px;
  background: white;
}

.about-container {
  max-width: 1100px;
  margin: auto;
  text-align: center;
}

.about h2 {
  font-size: 38px;
  margin-bottom: 20px;
  color: #0f172a;
}

.about p {
  font-size: 18px;
  line-height: 1.7;
}

.features {
  margin-top: 40px;

  display: flex;
  gap: 30px;
  justify-content: center;
}

.feature-card {
  background: #f8fafc;
  padding: 30px;
  border-radius: 12px;
  width: 350px;

  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}