.hero {
  background: linear-gradient(to right, #dbeafe, #ffffff);

  min-height: 45vh;
  

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  padding: 40px;
}
.hero-content {
  max-width: 800px;
}

.hero-content h1 {
  font-size: clamp(24px, 6vw, 52px);
  line-height: 1.1;
  color: #0f172a;
  margin-bottom: 23px;
}

.hero-content h2 {
  color: #2563eb;
  margin-bottom: 10px;
}

.hero-content p {
  font-size: 20px;
  margin-bottom: 30px;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.hero-buttons button {
  background-color: #2563eb;
  color: white;

  border: none;
  padding: 12px 24px;

  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.hero-buttons button:hover {
  background-color: #1d4ed8;
}
@media (max-width: 768px) {

  .hero-content h2 {
    font-size: 22px;
  }

  .hero-content p {
    font-size: 18px;
  }

  .hero-buttons {
  display: flex;
  gap: 12px;
  justify-content: center;
  flex-wrap: wrap;
}
}