.navbar {
  background-color: #0f172a;
  color: white;
  padding: 15px 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover {
  color: #60a5fa;
}
@media (max-width: 768px) {

  .navbar {
    padding: 12px 15px;
  }

  .logo {
    font-size: 16px;
    max-width: 140px;
    line-height: 1.2;
  }

  .nav-links {
    gap: 10px;
  }

  .nav-links a {
    font-size: 14px;
  }
}
@media (max-width: 768px) {

  .logo {
    font-size: 14px;
  }

  .nav-links a {
    font-size: 13px;
  }
}